<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<%= page_header "Products" %>

<table class="table is-bordered is-striped is-fullwidth is-align-middle">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td>
          <%= button_show "Show", [:admin, product] %>
          <%= button_edit "Edit", edit_admin_product_path(product) %>
          <%= button_delete "Destroy", [:admin, product] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_new "New product", new_admin_product_path %>
